.counter {
  display: flex;
  width: 100px;
}
.counter div {
  border: 1px solid var(--border_color);
  width: 100%;
  display: grid;
  place-content: center;
}
.btn_counter {
  width: 25px;
  border: 1px solid var(--border_color);
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}
