.filter {
  width: 22%;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
}
.section_filter {
  width: 100%;
  height: 200px;
  padding: 1rem;
}
.btn_x_filter {
  display: none;
}
.box_filter {
  width: 100%;
  height: 100%;
}
.box_filter h3 {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}
.box_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  height: 35px;
}
.box_input input {
  height: 100%;
  width: 80%;
  border-radius: 6px;
  border: 1px solid var(--border_color);
}
.box_category {
  overflow: auto;
  position: relative;
}
.box_category::-webkit-scrollbar {
  width: 5px;
}
.box_category::-webkit-scrollbar-thumb{
  background-color: var(--color_first);
  border-radius: 5px;
}
.box_category h3 {
  position: fixed;
  width: 200px;
  background-color: white;
}
.box_category div {
  margin-top: 3rem;
}
.category {
  width: 100%;
  height: 35px;
  cursor: pointer;
  transition: color 0.1s;
}
.category:hover {
  color: var(--color_first);
}
.btn_price_filter {
  width: 40%;
  height: 30px;
  border: none;
  background-color: var(--color_first);
  color: white;
  border-radius: 5px;
  margin-top: 1rem;
  transform: translateX(50%);
  cursor: pointer;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .filter {
    width: 300px;
    right: 0;
    margin-left: auto;
    background-color: white;
    z-index: 200;
    box-shadow: 1px 1px 2px 2px var(--border_color);
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .btn_x_filter {
    display: flex;
    width: 25px;
    aspect-ratio: 1;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 1rem 1rem 0 auto;
    background-color: transparent;
    cursor: pointer;
  }
  .show_filter {
    transform: translateX(0);
  }
}

