.container_similar_product {
  width: 300px;
  height: 370px;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  margin: 0 auto;
  padding: 2rem;
}
.container_similar_product > article {
  min-width: 100%;
  max-width: 200px;
  height: 100%;
}
.section_similar_items {
  width: 100%;
  padding: 2rem;
}

@media (min-width: 499px) {
  .container_similar_product {
    width: 100%;
    height: 100%;
    overflow: visible;
    border: none;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .container_similar_product > article {
    min-width: 270px;
    height: 370px;
  }
}
@media (min-width: 1000px) {
  .section_similar_items {
    grid-column: 1/3;
  }
}
